<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }} - SimpleApp</title>
    {% else %}
    <title>Welcome to MyApp</title>
    {% endif %}
    <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<body>
<header>
      <!-- Nav -->
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Auto-Lotto Numbers</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/">Page 1</a></li>
            </ul>
          </div>
        </nav>
  </header>
  <section>
        <!-- section -->
	<div class="container">
		<h1>
			My Lotto App
		</h1>
	</div>
</section>
{% block content %}
{% endblock %}
<footer class="container-fluid text-center">
  <p>DISCLAIMER!!! This is a just a fake lotto site for school project and has got nothing to do with the real lotto game play.</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
	
</html>